body {
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.app { display:flex; }

.sidebar {
    width:220px;
    background:#020617;
    padding:20px;
}

.main { flex:1; padding:30px; }

.card {
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

input {
    width:100%;
    padding:10px;
    margin:10px 0;
}

button {
    padding:10px;
    margin:5px;
    background:#38bdf8;
    border:none;
    cursor:pointer;
}

#output {
    margin-top:20px;
    background:#1e293b;
    padding:15px;
    border-radius:10px;
}

#meter {
    margin-top:10px;
    font-weight:bold;
}